extends layout

block content

  //leaflet para los mapas
  link(rel='stylesheet', href='https://unpkg.com/leaflet/dist/leaflet.css')
  script(src='https://unpkg.com/leaflet/dist/leaflet.js')
  header

   
  // titulo azul de pagian
  a.btn.btn-primary.disabled.placeholder.col-11(aria-disabled='true',style='display: block; margin: 0 auto; ')  Proyecto Node - 2
  brbr  
    //contenedor principal de la pagina           
  .row
    .container.row(style='padding: 2% ; ')
      h1 Mapa Leaflet Sistema Bicicletas
      .card.col-md-8(style='text-align: center;')
        .card-body
          #map(style='height: 400px;')
          h5.card-title Sistema Online GPS para Bicicletas
          p.card-text
            | Podras ver las Bicicletas en el sistema de manera remota por medio de un GPS incorporado.
          hr
          a.btn.btn-primary(href='/bicicletas/create') Añadir Bicicleta

      .card.col-md-3(style=' margin :2%;')
        .card-body(style='text-align: center;')
          h5.card-title Actualizacion de Bicicletas
          p.card-text
            | Actualiza los datos acerca de las Bicicleas ya ingresadas en el sistema
          img.d-block.w-100(src='https://cloudfront-us-east-1.images.arcpublishing.com/elespectador/GNWF2GOLYNAVHFWI3LYOI7VAXA.jpeg', alt='Primer Slide')
          hr
          a.btn.btn-primary(href='/bicicletas') Actualizacion de Bicicletas
    
    script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js', integrity='sha384-jqeVbP1V8FHUjEVjHkEBusvZNkkRqPzv4L+8Pqxf3eG8njQp2PVRJpF2pbGL4VkS', crossorigin='')
    script.
        var map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);




