extends layout

head
    // Otras etiquetas head...
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css', integrity='sha384-TyGuIjDHXfLy/nyPa5K5AxBjzG3IzCBZU7b2UZnv2Cj4gt0ArMOJcJikyXD12mEo', crossorigin='')

block content
    h1 Mapa Leaflet
    #map(style='height: 400px;') // Contenedor del mapa
    script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js', integrity='sha384-jqeVbP1V8FHUjEVjHkEBusvZNkkRqPzv4L+8Pqxf3eG8njQp2PVRJpF2pbGL4VkS', crossorigin='')
    script.
        var map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);



